[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/markdown-folding"]
	path = .vim/bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
