!Xcursor.size: 64

! Fake Transparency
! URxvt*.transparent: true
! URxvt*.shading: 30 

! True Transparency with compositor
URxvt*.depth: 32
URxvt*.background: [80]#050510
! URxvt*.background: [90]#ffffff
! URxvt*.blurRadius: 100x100 ! causes problems with compton


URxvt*.scrollBar: false
URxvt*.font: xft:Inconsolata:size=20:antialias=true

!-*-{ Xft settings
Xft*dpi:        96
! Should DPI have a higher value for this screen
Xft*antialias:  True
Xft*hinting:    Full
!-*-}

*foreground: #c8c8c8

!black
*color0:  #251f1f
*color8:  #5e5e5e
!red
*color1:  #eb4509
*color9:  #eb4509
!green
*color2:  #94e76b
*color10: #95e76b
!yellow
*color3:  #ffac18
*color11: #ffac18
!blue
*color4:  #46aede
*color12: #46aede
!magenta
*color5:  #e32c57
*color13: #e32c57
!cyan
*color6:  #d6dbac
*color14: #d6dbac
!white
*color7:  #efefef
*color15: #efefef

!loading links in browser
URxvt.perl-ext-common:    default,matcher,clipboard
URxvt.clipboard.autocopy: true
!URxvt.url-launcher:       /usr/local/bin/firefox
URxvt.url-launcher:       firefox
URxvt.matcher.button:     1
